.about {
    padding: 20px 0;
    .about-header {
        width: fit-content;
        margin: 0 auto 20px;
        font-size: 24px;
        color: white;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        color: #999999;
        span {
            color: #f57f17;
        }
    }
    p + p {
        margin-top: 20px;
    }
}
