@media (min-width: 992px) {
    .header-nav-list-link {
        display: inline-block;
        color: white;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 80px;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .header-nav-list-link-active {
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 80px;
        text-transform: uppercase;
        transition: 0.3s;
        color: #f57f17;
    }

    .header-nav-list-link:hover {
        color: #f57f17;
        transition: 0.3s;
    }
}


@media (max-width: 991px) {
    .header-nav-list-link {
        height: fit-content;
        display: inline-block;
        color: #313131;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        transition: 0.3s;
    }

    .header-nav-list-link-active {
        height: 30px;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        line-height: 30px;
        text-transform: uppercase;
        transition: 0.3s;
        color: #f57f17;
    }

    .header-nav-list-link:hover {
        color: #f57f17;
        transition: 0.3s;
    }
}
