.header-nav {
    .header-nav-list {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        position: relative;
    }

    .header-nav-list-item.has-child .header-nav-list-link:after {
        font-family: FontAwesome;
        content: '\f107';
        margin-left: 5px;
        color: inherit;
        font-size: 13px;
        font-weight: normal;
    }

    .header-nav-list-item.has-child:hover .header-nav-list-link:after {
        font-family: FontAwesome;
        content: '\f106';
    }

    .header-nav-list-item.has-child .header-nav-list-link-active:after {
        font-family: FontAwesome;
        content: '\f107';
        margin-left: 5px;
        color: inherit;
        font-size: 13px;
        font-weight: normal;
    }

    .header-nav-list-item.has-child:hover .header-nav-list-link-active:after {
        font-family: FontAwesome;
        content: '\f106';
    }

    // sub-menu

    .sub-menu {
        position: absolute;
        z-index: 100;
        left: -15%;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.2s linear;
    }

    .header-nav-list-item:hover .sub-menu {
        max-height: 300px;
    }

    .sub-menu-item-link-blocks {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sub-menu-block {
        padding: 0 10px;
        width: 230px;
        background-color: #111111;
    }

    .sub-menu-block-car-deals-img-1 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/10.jpg');

        background-size: cover;
    }
    .sub-menu-block-car-deals-img-2 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/13.jpg');
        background-size: cover;
    }
    .sub-menu-block-car-deals-img-3 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/14.jpg');
        background-size: cover;
    }
    .sub-menu-block-car-deals-img-4 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/17.jpg');
        background-size: cover;
    }

    .sub-menu-block-news-img-1 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/15.jpg');
        background-size: cover;
    }

    .sub-menu-block-news-img-2 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/5.jpg');
        background-size: cover;
    }
    .sub-menu-block-news-img-3 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/6.jpg');
        background-size: cover;
    }
    .sub-menu-block-news-img-4 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/8.jpg');
        background-size: cover;
    }

    .sub-menu-block-reviews-img-1 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/4.jpg');
        background-size: cover;
    }
    .sub-menu-block-reviews-img-2 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/12.jpg');
        background-size: cover;
    }
    .sub-menu-block-reviews-img-3 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/6.jpg');
        background-size: cover;
    }
    .sub-menu-block-reviews-img-4 {
        margin: 0 auto 20px;
        width: 210px;
        height: 140px;
        background-image: url('../../assets/8.jpg');
        background-size: cover;
    }

    .sub-menu-block-content {
        text-align: center;
        margin-bottom: 10px;
    }

    .sub-menu-block-header {
        margin-bottom: 10px;
    }

    .sub-menu-block-header > a {
        font-size: 12px;
        color: white;
        transition: 0.3s;
    }
    .sub-menu-block-header > a:hover {
        color: #f57f17;
        transition: 0.3s;
    }

    .sub-menu-block-date {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        color: #999;
    }

    .sub-menu-block-category > a {
        margin: 10px auto;
        padding: 3px;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        color: white;
        background-color: #f57f17;
    }
}
