.contacts-page {
    padding: 20px 0;
    .contacts-header {
        width: fit-content;
        margin: 0 auto 20px;
        font-size: 24px;
        color: white;
    }

    .contacts-text {
        margin-bottom: 20px;
        font-size: 16px;
        color: #999999;
        line-height: 1.5;
    }

    .contacts-list {
        padding-bottom: 20px;
        font-size: 16px;
    }

    .contacts-list-item {
        list-style-type: square;
        list-style-position: inside;
        color: #999999;
    }

    .contacts-list-item + .contacts-list-item {
        margin-top: 15px;
    }

    .contacts-list-item-way {
        margin-right: 5px;
        font-weight: bold;
    }

    .input-fields {
        margin: 20px 0;

        .input-field {
            background-color: #111;
            padding: 10px;
            border: 1px solid rgba(153, 153, 153, 0.5);
            outline: none;
            font-size: 14px;
            color: #999999;
        }
        .input-field::placeholder {
            font-size: 14px;
        }
    }

    .text-area {
        min-height: 70px;
        width: 100%;
        resize: vertical;
        background-color: #111;
        padding: 10px;
        border: 1px solid rgba(153, 153, 153, 0.5);
        outline: none;
        font-size: 14px;
        color: #999999;
    }

    .text-area::placeholder {
        font-size: 14px;
    }

    .form-send-btn {
        margin-top: 20px;
        border-radius: 0;
        border: 1px solid rgba(153, 153, 153, 0.5);
        outline: none;
        color: #f57f17;
    }
}

@media (min-width: 769px) {
    .input-fields {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .input-field {
            width: calc(33% - 30px);
        }
    }
}

@media (max-width: 768px) {
    .input-fields {
        width: 100%;

        .input-field {
            width: 100%;
        }

        .input-field + .input-field {
            margin-top: 20px;
        }
    }
}
