.mobile-nav {
    width: 270px;
    height: 100%;
    padding: 20px;
    background: #ffffff;
    position: absolute;
    top: 0;


    .mobile-nav-socials {
        width: 140px;
        margin: 50px auto 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

.mobile-nav-list-item {

}

    .mobile-nav-list-link {
        display: block;
        padding: 13px 17px 13px 0;
        text-decoration: none;
        font-size: 13px;
        text-transform: uppercase;
        color: #313131;
    }


    .mobile-nav-social::before {
        font-family: 'FontAwesome';
        font-weight: normal;
        color: #313131;
        font-size: 14px;
    }

    .fa-facebook::before {
        content: '\f09a';
    }
    .fa-twitter::before {
        content: '\f099';
    }
    .fa-instagram::before {
        content: '\f16d';
    }
    .fa-pinterest::before {
        content: '\f0d2';
    }
    .fa-youtube::before {
        content: '\f16a';
    }
    .fa-email::before {
        content: '\f0e0';
    }
}
