.article-page-content {
    padding-top: 20px;
}

.article-page-socials {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.article-page-comment {
    padding-top: 20px;
    border-top: 1px solid #999999;
}