.slider {
    max-width: 975px;
    height: 650px;
    margin: 0 auto 40px;
    padding-top: 20px;

    [class^='swiper-slide-'] {
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .swiper-slide-1 {
        background-image: url('../../assets/5.jpg');
    }
    .swiper-slide-2 {
        background-image: url('../../assets/16.jpg');
    }
    .swiper-slide-3 {
        background-image: url('../../assets/6.jpg');
    }
    .swiper-slide-4 {
        background-image: url('../../assets/9.jpg');
    }
    .swiper-slide-5 {
        background-image: url('../../assets/10.jpg');
    }
    .swiper-slide-6 {
        background-image: url('../../assets/11.jpg');
    }
    .swiper-slide-7 {
        background-image: url('../../assets/12.jpg');
    }
    .swiper-slide-8 {
        background-image: url('../../assets/13.jpg');
    }
    .swiper-slide-9 {
        background-image: url('../../assets/14.jpg');
    }
    // .swiper-slide-10 {
    //     background-image: url('../../assets/15.jpg');
    // }

.slide-img {
    position: relative;
}


    .slide-text {
        position: absolute;
        margin-bottom: 20px;
        margin-left: 20px;
        padding: 10px;
        border-radius: 10px;
        color: white;
        width: 400px;
        background-color: rgba(245, 127, 23, 0.8);
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        color: #f57f17;
        font-size: 22px;
    }

    .swiper-scrollbar {
        margin-top: 20px;
        background: rgba(245, 127, 23, 0.1);
    }
    .swiper-scrollbar-drag {
        background: rgba(245, 127, 23, 0.5);
    }
}

@media (max-width: 767px) {
    .slider {
        max-width: calc(100% - 40px);
        height: 100%;
    }
}
