.favorite-article-card-item {
    background-color: #111111;
    height: fit-content;

    .article-card-category-block {
        margin-bottom: 20px;
        text-align: center;
    }

    .article-card-img {
        width: 100%;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }

    .article-card-img img:hover {
        box-shadow: 0 0 0 2px rgba(245, 127, 23, 0.2);
        transition: 0.15s;
    }

    .article-card-category {
        color: #f57f17;
        font-size: 14px;
        font-family: 'Open Sans';
    }

    .article-card-title {
        margin-bottom: 20px;
        text-align: center;

        .article-card-title-text {
            font-size: 16px;
            line-height: 22px;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s;
        }
    }

    .article-card-title:hover .article-card-title-text {
        color: #f57f17;
        cursor: pointer;
    }

    .article-autor-date {
        font-family: 'Open Sans', sans-serif;
        color: #666666;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;
    }

    .article-short-content {
        font-family: 'Open Sans', sans-serif;
        color: #999999;
        font-size: 14px;
        margin-bottom: 20px;
        line-height: 1.8;
    }

    .read-more-btn {
        width: fit-content;
        height: 33px;
        margin-bottom: 25px;
    }

    .read-more-btn-link {
        display: block;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
        background-color: #f57f17;
        text-transform: uppercase;
    }

    .read-more-btn-link:after {
        content: '\f101';
        font-family: FontAwesome;
        margin-left: 10px;
    }

    .article-card-socials-block {
        width: 215px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }

    .article-card-likes {
        min-width: 25px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        color: #f57f17;
        background-color: #111111;
    }
}
