.article-content {
    color: white;
    padding: 20px 0;

    .article-title-block {
        text-align: center;
    }

    .article-title {
        width: fit-content;
        margin: 0 auto 20px;
        font-size: 24px;
        border-bottom: 1px solid #f57f17;
    }

    .article-category-block {
        width: fit-content;
        margin: 0 auto 20px;
    }

    .article-category {
        color: #f57f17;
    }

    .article-author {
        width: fit-content;
        margin: 0 auto 20px;
        font-size: 14px;
        color: #666666;
    }

    .article-img-block {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .article-img {
        width: 80%;
    }

    .article-text {
        width: 90%;
        margin: 0 auto;
        font-size: 16px;
        color: whitesmoke;
        line-height: 1.5;
        letter-spacing: 1px;

        .article-subtitle {
            width: fit-content;
            margin: 15px auto;
            font-size: 18px;
            font-style: italic;
            border-bottom: 1px solid #f57f17;
        }

        .qoute {
            width: 80%;
            padding: 10px;
            margin: 20px auto;
            background-color: rgba(136, 136, 136, 0.2);
            border-left: 10px solid #f57f17;
            border-radius: 5px;
            text-align: right;
            font-size: 18px;
            font-style: italic;
        }

        .qoute-autor {
            font-size: 20px;
            color: #f57f17;
        }

        p + p {
            margin-top: 10px;
        }
    }

    .article-socials-block {
        margin: 20px 0;
        display: flex;
        justify-content: flex-end;
    }

    .article-likes {
        min-width: 25px;
        margin-right: 15px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        outline: none;
        cursor: pointer;
        color: #f57f17;
        background-color: #111111;
    }
}
