.socials {
width: 150px;    
display: flex;
justify-content: space-between;

    .socials-facebook::before {
        content: '\f09a';
        font-size: 25px;
        font-family: FontAwesome;
        color: #999999;
    }
    .socials-twitter::before {
        content: '\f099';
        font-size: 25px;
        font-family: FontAwesome;
        color: #999999;
    }
    .socials-pinterest::before {
        content: '\f0d2';
        font-size: 25px;
        font-family: FontAwesome;
        color: #999999;
    }
    .socials-email::before {
        content: '\f0e0';
        font-size: 25px;
        font-family: FontAwesome;
        color: #999999;
    }
}