@media (max-width: 991px) {
    header {
        width: 100%;
        background-color: #111111;
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }

    .mobile-header {
        height: 60px;
        background-color: #111111;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // mobile menu button

        .nav-button-mobile {
            width: 18px;
            height: 18px;
            padding: 0;
            background-color: #111111;
            border: none;
            outline: none;
        }

        .nav-button-mobile-icon {
            display: block;
            width: 18px;
            height: 2px;
            background-color: #f57f17;
            opacity: 0.5;
            position: relative;
            z-index: 20;
        }

        .nav-button-mobile-icon::after,
        .nav-button-mobile-icon::before {
            position: absolute;
            content: '';
            width: 18px;
            height: 2px;
            background-color: #f57f17;
            transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
        }

        .nav-button-mobile-icon:before {
            left: 0;
            top: -7px;
        }

        .nav-button-mobile-icon:after {
            left: 0;
            top: 7px;
        }

        .nav-button-mobile.active {
            background-color: transparent;
        }

        .nav-button-mobile-icon:before.active {
            transform: rotate(45deg);
            top: 0;
            transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
        }

        .nav-button-mobile-icon:after.active {
            transform: rotate(-45deg);
            top: 0;
            transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
        }

        .mobile-logo-img {
            width: 102px;
            height: 38px;
        }

        .mobile-header-search {
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid rgba(245, 127, 23, 0.6);
            border-radius: 5px;
        }

        .mobile-search-field {
            width: 150px;
            background-color: #111111;
            border: none;
            outline: none;
            color: #f57f17;
        }

        .mobile-search-field::placeholder {
            color: #f57f17;
            opacity: 0.3;
        }

        .mobile-search-field-block:after {
            content: '\f002';
            font-family: FontAwesome;
            color: #f57f17;
            opacity: 0.5;
        }
    }

    .mobile-nav-socials {
        width: 140px;
        margin: 50px auto 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    // Socials links block

    .mobile-nav-social::before {
        font-family: 'FontAwesome';
        font-weight: normal;
        color: #313131;
        font-size: 14px;
    }

    .fa-facebook::before {
        content: '\f09a';
    }
    .fa-twitter::before {
        content: '\f099';
    }
    .fa-instagram::before {
        content: '\f16d';
    }
    .fa-pinterest::before {
        content: '\f0d2';
    }
    .fa-youtube::before {
        content: '\f16a';
    }
    .fa-email::before {
        content: '\f0e0';
    }

    .line {
        width: 100px;
        height: 1px;
        margin: 25px auto;
        background-color: #f57f17;
    }

    // menu

    .mobile-nav-list-menu {
        border-bottom: none;
        padding: 0 17px;
    }

    .mobile-nav-list-item {
        height: 30px;
    }

    .mobile-nav-list-item + .mobile-nav-list-item {
        border-top: 1px solid #f57f17;
    }

    .mobile-nav-list-item:hover .mobile-nav-list-link {
        color: #f57f17;
    }

    .close-menu-btn-block {
        margin-top: 10px;
        margin-left: 25px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .close-menu-btn {
        color: #f57f17;
    }

    .close-menu-btn:hover {
        background-color: white;
    }
}
