@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700;800&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
}

body {
    background: url('assets/wall_2.jpg');
    background-repeat: repeat;
    height: fit-content;
    font-family: 'Orbitron', sans-serif;
}

@media (min-width: 992px) {
    .container {
        max-width: 1210px;
        padding: 0 20px;
        margin: 0 auto;
        background: #111111;
    }

    .mobile-header {
        display: none;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        background: #111111;
    }

    .header {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
        background: #111111;
    }
}
